---
import Layout from "../layouts/Layout.astro";
import SessionGuard from "../components/SessionGuard";
import DiagramsPanel from "../components/diagrams/DiagramsPanel";
import EditorPanel from "../components/editor/EditorPanel";
---

<Layout title="Dashboard - Sudoku">
  <SessionGuard client:load>
    <div class="flex h-screen flex-col overflow-hidden" data-testid="app-dashboard">
      <div class="flex flex-1 overflow-hidden">
        <div class="w-5/7 overflow-y-auto border-r" data-testid="diagrams-panel-container">
          <DiagramsPanel client:load />
        </div>
        <div class="w-2/7 overflow-y-auto" data-testid="editor-panel-container">
          <EditorPanel client:load />
        </div>
      </div>
    </div>
  </SessionGuard>
</Layout>
